<h1> Item List </h1>


<% if @products.any? %>
<ul>
  <% @products.each do |product| %>
  <li><a href="/add_product/item/<%= product.id %>"><h4><%= product.name %></a> </h4>
    <p><%= product.description %><br>
      $<%= product.price.to_s %>
    </p>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="product" value="<%= product.id %>">
        Add to cart
      </label><br>
    </div>


  </li>

  <% end %>
</ul>
<button type="submit" class="btn btn-primary">Add Item</button>

<% else %>

<p>Nothing yet.</p>

<% end %>
<br>




<p><a href="/">Return to Main Page</a></p>
